@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
    font-family: "Saria";
    src: url("/fonts/Saria-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Saria";
    src: url("/fonts/Saria-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
